<div class="container">
  <div class="row">
    <div class="panel panel-primary ">
      <div class="panel-heading">
        Statistics
      </div>
      <div class="panel-body">
        <form (ngSubmit)="search()" #searchForm="ngForm">
          <div class="form-group">
            <!-- User Action button -->
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ selectedAction }} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li (click)="selectAction(action)" *ngFor="let action of allActions">
                  <a>{{ action }}</a>
                </li>
              </ul>
            </div>
            <!-- User Name button -->
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ selectedPlayer }} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li (click)="selectPlayer(player)" *ngFor="let player of allPlayers">
                  <a>{{ player }}</a>
                </li>
              </ul>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!searchForm.form.valid">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
