<div class="container">
  <div class="row">
    <div class="col-5 panel panel-primary panel-game" *ngIf="joined; else joingame">
      <div class="panel-heading" *ngIf="waiting; else playing">
        <button type="button" class="btn btn-default game-reset" (click)="resetGame()">RESET</button>
        <h1>Waiting other players !!</h1>
      </div>
      <ng-template #playing>
        <div class="panel-heading">
          Score Cards
          <button type="button" class="btn btn-default game-reset" (click)="resetGame()">RESET</button>
        </div>
        <div class="panel-body">
          <div class="score-cards">
            <div class="score-card" *ngFor="let scoreCard of game.scoreCards; let i = index" (click)="pickScoreCard(scoreCard)">
              <div class="spice">
                <div class="score-spice spice-yellow" *ngFor="let yellow of (scoreCard.yellow | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="score-spice spice-red" *ngFor="let red of (scoreCard.red | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="score-spice spice-green" *ngFor="let green of (scoreCard.green | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="score-spice spice-brown" *ngFor="let brown of (scoreCard.brown | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
              </div>
              <div class="score">
                {{ scoreCard.score }}
              </div>
              <div class="bonus-coins">
                <div class="bonus-coin gold-coin" *ngIf="game.goldCoins > 0 && i == 0">
                  <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-dollar fa-stack-1x"></i>
                  </span>
                  {{ game.goldCoins }} Gold
                </div>
                <div class="bonus-coin silver-coin" *ngIf="(i == 1 && game.silverCoins > 0 && game.goldCoins > 0) || (i == 0 && game.goldCoins <= 0)">
                  <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-dollar fa-stack-1x"></i>
                  </span>
                  {{ game.silverCoins }} Silver
                </div>
              </div>
            </div>
            <div class="score-card">
              {{ game.publicScoreCards.length }} Remaining
            </div>
          </div>
        </div>
        <div class="panel-heading">
          Trade Cards
        </div>
        <div class="panel-body">
          <div class="trade-cards">
            <div class="trade-card" *ngFor="let tradeCard of game.tradeCards" (click)="pickTradeCard(tradeCard)">
              <div class="trade-bonus" *ngIf="tradeCard.bonusSpices">
                <div class="bonus-spice spice-yellow" *ngFor="let yellow of (tradeCard.bonusSpices.yellow | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="bonus-spice spice-red" *ngFor="let red of (tradeCard.bonusSpices.red | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="bonus-spice spice-green" *ngFor="let green of (tradeCard.bonusSpices.green | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="bonus-spice spice-brown" *ngFor="let brown of (tradeCard.bonusSpices.brown | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
              </div>
              <div class="trade-from" *ngIf="tradeCard.from | hasNonZeroProperty">
                <div class="trade-spice spice-yellow" *ngFor="let yellow of (tradeCard.from.yellow | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="trade-spice spice-red" *ngFor="let red of (tradeCard.from.red | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="trade-spice spice-green" *ngFor="let green of (tradeCard.from.green | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="trade-spice spice-brown" *ngFor="let brown of (tradeCard.from.brown | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="spice-from-to">
                  <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                </div>
              </div>
              <div class="trade-to" *ngIf="tradeCard.to | hasNonZeroProperty">
                <div class="trade-spice spice-yellow" *ngFor="let yellow of (tradeCard.to.yellow | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="trade-spice spice-red" *ngFor="let red of (tradeCard.to.red | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="trade-spice spice-green" *ngFor="let green of (tradeCard.to.green | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="trade-spice spice-brown" *ngFor="let brown of (tradeCard.to.brown | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
              </div>
              <div class="trade-free" *ngIf="tradeCard.free | hasNonZeroProperty">
                <div class="trade-spice spice-yellow" *ngFor="let yellow of (tradeCard.free.yellow | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="trade-spice spice-red" *ngFor="let red of (tradeCard.free.red | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="trade-spice spice-green" *ngFor="let green of (tradeCard.free.green | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="trade-spice spice-brown" *ngFor="let brown of (tradeCard.free.brown | num2Array)">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
              </div>
              <div class="trade-up" *ngIf="tradeCard.up">
                <div class="trade-spice spice-up" *ngFor="let up of (tradeCard.up | num2Array)">
                  <i class="fa fa-arrow-up" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="trade-card">
              {{ game.publicTradeCards.length }} Remaining
            </div>
          </div>
        </div>
        <div class="panel-heading">
          Players
        </div>
        <div class="panel-body">
          <div class="player" *ngFor="let player of game.players">
            <div class="player-name" [ngClass]="{'current-player': player.user == user}">
              {{ player.user }}
              <div class="player-message player-turn" *ngIf="game.playerTurn == player.user">
                TURN <i class="fa fa-hand-o-left" aria-hidden="true"></i> <i class="fa fa-spinner fa-pulse fa-fw"></i>
                <p class="player-message player-up-count" *ngIf="upCount > 0"> CLICK spice {{ upCount }} times to UPGRADE OR </p>
                <button type="button" class="btn btn-default player-message player-up-done" *ngIf="upCount > 0" (click)="doneUpSpice()">FINISH</button>
                <p class="player-message player-to-count" *ngIf="maxTo > 0"> MAX {{ maxTo }} set to change</p>
                <button type="button" class="btn btn-default player-message player-to-set" *ngFor="let set of (maxTo | num2Array)" (click)="toSpice(set+1)">{{ set + 1 }}</button>
                <p class="player-message player-discard-spice" *ngIf="moreThan10Spice(player.spice)"> DISCARD down to 10 spices</p>
                <p class="player-message player-handicap" *ngIf="requiredHandicap > 0"> DISCARD {{ requiredHandicap }} spices to pick your trade card</p>
              </div>
              <p class="player-message player-winner" *ngIf="game.winner == player.user"> is WINNER !! <i class="fa fa-gift" aria-hidden="true"></i></p>
            </div>
            <div class="player-data">
              <div class="player-spices">
                <div class="player-spice spice-yellow" *ngFor="let yellow of (player.spice.yellow | num2Array)" (click)="clickSpice('yellow')">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="player-spice spice-red" *ngFor="let red of (player.spice.red | num2Array)" (click)="clickSpice('red')">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="player-spice spice-green" *ngFor="let green of (player.spice.green | num2Array)" (click)="clickSpice('green')">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="player-spice spice-brown" *ngFor="let brown of (player.spice.brown | num2Array)" (click)="clickSpice('brown')">
                  <i class="fa fa-cube" aria-hidden="true"></i>
                </div>
                <div class="inline-container" *ngIf="!moreThan10Spice(player.spice)">
                  <div class="player-spice spice-blank" *ngFor="let blank of ((10-(player.spice | sumOfProperty))|num2Array)">
                    <i class="fa fa-cube" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="player-coins">
                <div class="bonus-coin gold-coin">
                  <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-dollar fa-stack-1x"></i>
                  </span>
                  {{ player.goldCoins }} Gold
                </div>
                &
                <div class="bonus-coin silver-coin">
                  <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-dollar fa-stack-1x"></i>
                  </span>
                  {{ player.silverCoins }} Silver
                </div>
              </div>
              <div class="player-score" *ngIf="player.user == user || !game.hideScoreCards || game.hasEnd">
                Total Score: {{ calTotalScore(player) }}
              </div>
              <div class="player-score-cards">
                <div class="score-card player-score-card" *ngFor="let scoreCard of player.scoreCards">
                  <div class="spice" *ngIf="player.user == user || !game.hideScoreCards || game.hasEnd">
                    <div class="score-spice spice-yellow" *ngFor="let yellow of (scoreCard.yellow | num2Array)">
                      <i class="fa fa-cube" aria-hidden="true"></i>
                    </div>
                    <div class="score-spice spice-red" *ngFor="let red of (scoreCard.red | num2Array)">
                      <i class="fa fa-cube" aria-hidden="true"></i>
                    </div>
                    <div class="score-spice spice-green" *ngFor="let green of (scoreCard.green | num2Array)">
                      <i class="fa fa-cube" aria-hidden="true"></i>
                    </div>
                    <div class="score-spice spice-brown" *ngFor="let brown of (scoreCard.brown | num2Array)">
                      <i class="fa fa-cube" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="score" *ngIf="player.user == user || !game.hideScoreCards || game.hasEnd">
                    {{ scoreCard.score }}
                  </div>
                  <div class="score-card-invisible player-score-card" *ngIf="!(player.user == user || !game.hideScoreCards || game.hasEnd)">
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    <div>Score ?</div>
                  </div>
                </div>
              </div>
              <div class="player-trade-cards">
                <div class="player-used-trade-cards">
                  <div class="trade-card used-trade-card" *ngFor="let tradeCard of player.usedTradeCards; let i = index">
                    <div class="trade-from" *ngIf="(tradeCard.from | hasNonZeroProperty) && (player.user == user || !game.hideTradeCards || i == player.usedTradeCards.length - 1 || game.hasEnd)">
                      <div class="trade-spice spice-yellow" *ngFor="let yellow of (tradeCard.from.yellow | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="trade-spice spice-red" *ngFor="let red of (tradeCard.from.red | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="trade-spice spice-green" *ngFor="let green of (tradeCard.from.green | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="trade-spice spice-brown" *ngFor="let brown of (tradeCard.from.brown | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="spice-from-to">
                        <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="trade-to" *ngIf="(tradeCard.to | hasNonZeroProperty) && (player.user == user || !game.hideTradeCards || i == player.usedTradeCards.length - 1 || game.hasEnd)">
                      <div class="trade-spice spice-yellow" *ngFor="let yellow of (tradeCard.to.yellow | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="trade-spice spice-red" *ngFor="let red of (tradeCard.to.red | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="trade-spice spice-green" *ngFor="let green of (tradeCard.to.green | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="trade-spice spice-brown" *ngFor="let brown of (tradeCard.to.brown | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="trade-free" *ngIf="(tradeCard.free | hasNonZeroProperty) && (player.user == user || !game.hideTradeCards || i == player.usedTradeCards.length - 1 || game.hasEnd)">
                      <div class="trade-spice spice-yellow" *ngFor="let yellow of (tradeCard.free.yellow | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="trade-spice spice-red" *ngFor="let red of (tradeCard.free.red | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="trade-spice spice-green" *ngFor="let green of (tradeCard.free.green | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="trade-spice spice-brown" *ngFor="let brown of (tradeCard.free.brown | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="trade-up" *ngIf="tradeCard.up && (player.user == user || !game.hideTradeCards || i == player.usedTradeCards.length - 1 || game.hasEnd)">
                      <div class="trade-spice spice-up" *ngFor="let up of (tradeCard.up | num2Array)">
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="trade-invisible" *ngIf="!(player.user == user || !game.hideTradeCards || i == player.usedTradeCards.length - 1 || game.hasEnd)">
                      <div class="trade-spice">
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="player-hand-trade-cards">
                  <div class="trade-card" *ngFor="let tradeCard of player.tradeCards" (click)="useTradeCard(tradeCard)">
                    <div class="trade-from" *ngIf="(tradeCard.from | hasNonZeroProperty) && (player.user == user || !game.hideTradeCards || game.hasEnd)">
                      <div class="trade-spice spice-yellow" *ngFor="let yellow of (tradeCard.from.yellow | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="trade-spice spice-red" *ngFor="let red of (tradeCard.from.red | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="trade-spice spice-green" *ngFor="let green of (tradeCard.from.green | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="trade-spice spice-brown" *ngFor="let brown of (tradeCard.from.brown | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="spice-from-to">
                        <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="trade-to" *ngIf="(tradeCard.to | hasNonZeroProperty) && (player.user == user || !game.hideTradeCards || game.hasEnd)">
                      <div class="trade-spice spice-yellow" *ngFor="let yellow of (tradeCard.to.yellow | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="trade-spice spice-red" *ngFor="let red of (tradeCard.to.red | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="trade-spice spice-green" *ngFor="let green of (tradeCard.to.green | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="trade-spice spice-brown" *ngFor="let brown of (tradeCard.to.brown | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="trade-free" *ngIf="(tradeCard.free | hasNonZeroProperty) && (player.user == user || !game.hideTradeCards || game.hasEnd)">
                      <div class="trade-spice spice-yellow" *ngFor="let yellow of (tradeCard.free.yellow | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="trade-spice spice-red" *ngFor="let red of (tradeCard.free.red | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="trade-spice spice-green" *ngFor="let green of (tradeCard.free.green | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                      <div class="trade-spice spice-brown" *ngFor="let brown of (tradeCard.free.brown | num2Array)">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="trade-up" *ngIf="tradeCard.up && (player.user == user || !game.hideTradeCards || game.hasEnd)">
                      <div class="trade-spice spice-up" *ngFor="let up of (tradeCard.up | num2Array)">
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="trade-invisible" *ngIf="!(player.user == user || !game.hideTradeCards || game.hasEnd)">
                      <div class="trade-spice">
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="player-actions" *ngIf="user == player.user">
                <div class="player-action">
                  <button type="button" class="btn btn-default clear-trade-cards" (click)="clearTradeCards()">
                    CLEAR trade cards
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="col-1 panel panel-primary panel-histories" *ngIf="joined && !waiting">
      <div class="panel-heading">
        Histories
      </div>
      <div class="panel-body">
        <div>
          <ul class="histories" *ngFor="let history of game.histories">
            <li [ngClass]="{'history-current-player': history.player == user}" *ngIf="history.action">{{ history.player }} : {{ history.action }}</li>
            <li [ngClass]="{'history-current-player': history.player == user}" *ngIf="history.chat">{{ history.player }} : {{ history.chat }}</li>
            <li [ngClass]="{'history-current-player': history.player == user}" *ngIf="history.emoji">{{ history.player }} : <i [ngClass]="'em ' + history.emoji"></i></li>
          </ul>
        </div>
        <div>
          <form (ngSubmit)="sendChat()" #joinForm="ngForm">
            <div class="emoji-container panel panel-primary">
              <i (click)="sendEmoji('em---1')" class="em em---1"></i>
              <i (click)="sendEmoji('em--1')" class="em em--1"></i>
              <i (click)="sendEmoji('em-100')" class="em em-100"></i>
              <i (click)="sendEmoji('em-alien')" class="em em-alien"></i>
              <i (click)="sendEmoji('em-anger')" class="em em-anger"></i>
              <i (click)="sendEmoji('em-angry')" class="em em-angry"></i>
              <i (click)="sendEmoji('em-astonished')" class="em em-astonished"></i>
              <i (click)="sendEmoji('em-blush')" class="em em-blush"></i>
              <br>
              <i (click)="sendEmoji('em-bow')" class="em em-bow"></i>
              <i (click)="sendEmoji('em-broken_heart')" class="em em-broken_heart"></i>
              <i (click)="sendEmoji('em-bulb')" class="em em-bulb"></i>
              <i (click)="sendEmoji('em-clap')" class="em em-clap"></i>
              <i (click)="sendEmoji('em-cold_sweat')" class="em em-cold_sweat"></i>
              <i (click)="sendEmoji('em-confounded')" class="em em-confounded"></i>
              <i (click)="sendEmoji('em-cry')" class="em em-cry"></i>
              <i (click)="sendEmoji('em-dizzy_face')" class="em em-dizzy_face"></i>
              <br>
              <i (click)="sendEmoji('em-facepunch')" class="em em-facepunch"></i>
              <i (click)="sendEmoji('em-eyes')" class="em em-eyes"></i>
              <i (click)="sendEmoji('em-ghost')" class="em em-ghost"></i>
              <i (click)="sendEmoji('em-grin')" class="em em-grin"></i>
              <i (click)="sendEmoji('em-heart_eyes')" class="em em-heart_eyes"></i>
              <i (click)="sendEmoji('em-innocent')" class="em em-innocent"></i>
              <i (click)="sendEmoji('em-joy')" class="em em-joy"></i>
              <i (click)="sendEmoji('em-kiss')" class="em em-kiss"></i>
              <br>
              <i (click)="sendEmoji('em-kissing_heart')" class="em em-kissing_heart"></i>
              <i (click)="sendEmoji('em-laughing')" class="em em-laughing"></i>
              <i (click)="sendEmoji('em-sleepy')" class="em em-sleepy"></i>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="chatMessage" name="chatMessage" placeholder="input message here" required="" />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <ng-template #joingame>
      <div class="panel panel-primary">
        <div class="panel-body">
          <form (ngSubmit)="joinGame()" #joinForm="ngForm">
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="user" name="username" placeholder="Username" required="" />
            </div>
            <div class="form-group">
              <input type="checkbox" [(ngModel)]="hideScoreCards" name="hide-score-cards" value="hide-score-cards"/>HIDE Score Cards
            </div>
            <div class="form-group">
              <input type="checkbox" [(ngModel)]="hideTradeCards" name="hide-trade-cards" value="hide-trade-cards"/>HIDE Trade Cards
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success" [disabled]="!joinForm.form.valid">Join</button>
            </div>
          </form>
        </div>
      </div>
    </ng-template>
  </div>
</div>
